.page {
    background-color: #2A2C2F;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

h1,h2,h3,p,ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
  }
  
  ul {
    padding-inline-start: 0;
    list-style: none;
  }