
@media screen and (min-width: 425px) and (max-width: 768px) {
    .places {
        padding: 28px 24px 0 24px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .place {
        padding: 88px 48px 0 48px;
    }
}

@media screen and (min-width: 1025px) {
    .places {
        padding: 0 11.56% 0 11.56%;
    }
}