.place__image {
    width:100vw;
    padding-top: 30px;
    max-width: 460px;
    object-fit: contain;
}

@media screen and (min-width: 768px) {
    .place__image {
        width: 47.2%;
        padding: 0 3.88% 0 0;
    }
}

@media screen and (min-width: 1024px) {
    .place__image {
        width: 47.4%;
        padding: 0 3.44% 0 0;
    }
}

@media screen and (min-width: 1280px) {
    .place__image {
        width: 46.74%;
        padding: 0 4% 0 0;
    }
}