.cover__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    white-space: pre-line;
    z-index: 3;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        width: 100%;
        max-width: 360px;
        white-space: normal;
    }
}