.place__paragraphs {
    padding: 30px 5vw 32px 5vw;
    max-width: 484px;
}

@media screen and (min-width: 425px) {
    .place__paragraphs {
        padding: 0;
    }
}


@media screen and (min-width: 425px) and (max-width: 768px) {
    .place__paragraphs {
        width: 48.8%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .place__paragraphs {
        width: 49%;
    }
}

@media screen and (min-width: 1025px) {
    .place__paragraphs {
        width: 49.2%;
    }
}