.place__paragraphs {
    padding: 30px 5vw 32px 5vw;
    max-width: 484px;
}

@media screen and (min-width: 768px) {
    .place__paragraphs {
        width: 48.8%;
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .place__paragraphs {
        width: 49%;
    }
}

@media screen and (min-width: 1280px) {
    .place__paragraphs {
        width: 49.2%;
    }
}