.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    white-space: pre-line;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
}
.place__paragraph:first-child {
    padding-bottom: 25px;
}
@media screen and (min-width: 768px) {
    .place__paragraph {
        white-space: normal;
    }
}

@media screen and (min-width: 1024px) {
    .place__paragraph {
        font-size: 18px;
        line-height: 29px;
    }
}