.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    max-width: 484px;
}
.place__paragraph:first-child {
    padding-bottom: 25px;
}

@media screen and (min-width: 769px) {
    .place__paragraph {
        font-size: 18px;
        line-height: 29px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .place__paragraph {
        width: 45.83vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .place__paragraph {
        width: 44.53vw;
    }
}

@media screen and (min-width: 1025px) {
    .place__paragraph {
        width: 37.81vw;
    }
}