.cover__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    z-index: 2;
    padding-bottom: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .cover__title {
        width: 100%;
        max-width: 560px;
        justify-content: center;
        padding-bottom: 32px;
    }
}

@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        width: 560px;
        justify-content: center;
        padding-bottom: 34px;
    }
}