.place {
    padding-top: 64px;
    max-width: 984px;
}

.place:not(:first-child) {
    padding-top: 18px;
}

@media screen and (min-width: 768px){
    .place {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-top: 92px;
    }
    .place:not(:first-child) {
        padding-top: 74px;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        padding-top: 61px;
    }
    .place:not(:first-child) {
        padding-top: 80px;
    }
}
